{% extends 'base.html' %} {%import "bootstrap/wtf.html" as wtf%}
<!-- Navbar block  -->
{% block navbar %} {% include 'navbar.html' %} {% endblock %} {% block content %}


<div class='container'>
    <h1 style="text-align: center;">Make a comment</h1>
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                {{wtf.quick_form(blog_form)}}
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
<style>
    body {
        background-color: white;
    }
    
    .container {
        margin-left: 0px;
       
    }
</style>

{% endblock %}