{% extends 'base.html' %} {%block content%}
<div class="">
    
    <div style="background-color: rgba(12, 12, 12, 0.5);">
        <div style="padding-top: 100px;">
            <h1 style="font-family: 'Lobster', cursive; font-size: 70px; text-align: center; color: red;"><b>CREDENTIAL STORAGE</b></h1>
            <h2 style="font-size: 50px; text-align: center; color: white;">
                Welcome to Credential Storage </h2>
                <br>
            <h3 style="font-size: 35px; text-align:center; color: white;">Here we promise the best of services</h3>  
            <p style="font-size: 20px; text-align: center; color: white;">Get to upload your credential for safer storage method and easy access of all you documents and personal information </p>
            <br><br>

            
            
        </div>
    </div>
    <div>
        <ul>
            <li><a href="#" class="fa fa-facebook"></a></li>
            <li><a href="#" class="fa fa-twitter"></a></li>
            <li><a href="#" class="fa fa-google"></a></li>
            <li><a href="#" class="fa fa-instagram"></a></li>
        </ul>
    </div>

    
</div>
<style>
    body{
        background-image: url(/static/avi-richards-Z8TaHxvA8PA-unsplash.jpg);
        background-size: cover;
        height: 100vh;
        
    }
       
    .container {
        margin-left: 0px;
        margin-top: 300px;
    }
</style>
{%endblock%}